TEMPLATE_FILE_VERSION="1.0.0"
PATCH_DESCRIPTION="WLS SPB TRACKING INFORMATION IN SPB2"
BASE_BUGS={"33819540:WLS SPB TRACKING INFORMATION IN SPB3","33794740:WLS SPB TRACKING INFORMATION IN SPB2"}
PATCHSET_EXCEPTION_NUMBER=33819540
PLATFORMS={0}
BASE_DIR="./"
MINIMUM_OPATCH_VERSION="13.9.2.0.0"
COMPONENT="oracle.wls.core.app.server:12.2.1.4.0"
INSTANCE_SHUTDOWN=true
PRODUCT_FAMILY="fmw"
[Actions]
COPY_LIST={"/:wls_spb_info.txt"}


--command [perl /se_autofs/apf/OPack/fmw12c/OPack/opack package -t dummy.tmpl]
-- command perl /ade_autofs/gr31_dbem/OPACK_14.1.0_GENERIC.rdd/RELEASE_14.1.0.1.11/opack/OPack/opack package -t dummy.tmpl

[GENERAL]
TEMPLATE_FILE_VERSION="1.0.0"
[DATA]
PATCH_DESCRIPTION="WLS SPB TRACKING INFORMATION IN SPB2"
BASE_BUGS={"33819540:WLS SPB TRACKING INFORMATION IN SPB3","33794740:WLS SPB TRACKING INFORMATION IN SPB2"}
PATCHSET_EXCEPTION_NUMBER=33819540
PLATFORMS={0}
BASE_DIR="./"
MINIMUM_OPATCH_VERSION="13.9.2.0.0"
PATCH_TYPE="singleton"
INSTANCE_SHUTDOWN=true
PRODUCT_FAMILY="fmw"
[Actions]
COMPONENT="oracle.wls.core.app.server:12.2.1.4.0:O"
COPY_LIST={"./:wls_spb_info.txt"}